<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/bootstrap.min.css" />
        <meta name="author" content="Enrique García-Palacios Blasco" />
        <link rel="shortcut icon" href="~/images/faviconRescuteDog.ico" />
        <meta charset="utf-8" />
    </head>
    <body>
        <header>
        <nav class="navbar navbar-expand-sm navbar-dark" style="background-color:burlywood">
                <div class="container-fluid">
                @if (Context.User.Identity.IsAuthenticated == true)
                {
                    
                        <a class="navbar-brand" asp-controller="Managed" asp-action="PerfilUsuario"><img class="rounded-circle" style="width:48px; height:auto" src="~/images/@Context.User.FindFirstValue("USERIMAGE")" /></a>                    
                }else{
                    <a class="navbar-brand" href="#">
                        <img src="~/images/RescuteDogIcon.svg" class="rounded-circle" href="#" />
                    </a>
                }
                
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="collapsibleNavbar">
                        <ul class="navbar-nav">
                            @if (Context.User.Identity.IsAuthenticated == true)
                        {
                            <li class="nav-item">
                                <a asp-controller="Managed" asp-action="LogOut"><img src="~/images/logout.svg" style="width:48px; height:auto" /></a>
                            </li>
                        }
                            <li class="nav-item">
                                <a asp-controller="Managed" asp-action="SingUp" class="nav-link">Registrarse</a>
                            </li>
                            <li class="nav-item">
                            <a asp-controller="Managed" asp-action="LogIn" class="nav-link">Iniciar Sesion</a>
                            </li>
                            <li class="nav-item">
                            <a asp-controller="Refugios" asp-action="Index" class="nav-link">Inicio</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Descubre</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-controller="Voluntarios" asp-action="Index">Voluntarios</a></li>
                                    <li><a class="dropdown-item" asp-controller="RescuteBlog" asp-action="Publicaciones">RescuteBlog</a></li>
                                    <li></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            </header>
        <main class="container">
            <div id="principal">
            @RenderBody()
            </div>
        </main>
    <section class="">
        <!-- Footer -->
        <footer class=" text-white" style="background-color: burlywood">
            <!-- Grid container -->
            <div class="container p-4">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                        <h5 class="text-uppercase">RescuteDog</h5>

                        <p>
                            RescuteDog une todos los refugios de la Comunidad de Madrid para formentar un medio para la adopcion de mascotas
                            salvando a los animales y creando nuevas lazos entre las mascotas y humanos.
                        </p>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase mb-0">Links</h5>

                        <ul class="list-unstyled">
                            <li>
                                <a href="#!" class="text-white"><img src="~/images/instasvg.svg" /></a>
                            </li>
                            <li>
                                <a href="#!" class="text-white"><img src="~/images/twittersvg.svg" /></a>
                            </li>
                            <li>
                                <a href="#!" class="text-white"><img src="~/images/facebooksvg.svg" /></a>
                            </li>
                            <li>
                                <a href="#!" class="text-white"><img src="~/images/linkedinsvg.svg" /></a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                        <h5 class="text-uppercase">Más Enlaces</h5>
                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="https://www.comunidad.madrid/centros/centro-integral-acogida-animales-comunidad-madrid-ciaam " class="text-white"><img src="~/images/camflag.svg" style="width:48px; height:auto" /></a>
                            </li>
                            <li>
                                <a href="https://voluntariospormadrid.madrid.es/" class="text-white">Voluntarios Madrid<br /><img src="~/images/ayuntamiento-de-madrid.svg" style="width:48px; height:auto" /></a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </div>
            <!-- Grid container -->
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="https://mdbootstrap.com/">RescuteDog.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.6.3.js"></script>
    @await RenderSectionAsync("scripts", required: false)
    </body>
</html>
