@model RecuteDog.Models.Voluntario

@*@{
    ViewData["Title"] = "FormVoluntarios";
}*@
    <script>
        $(document).ready(function () {
            getLocalidades();
            function getLocalidades(){
                var url = "https://servicios.ine.es/wstempus/js/ES/VALORES_VARIABLE/19?page=1"
                $.ajax({
                    "url": url,
                    "method": "get",
                    "datatype": "json",
                    success: function(data){
                        console.log(data);
                        $.each(data, function(index, localidad){
                            var option = $("<option>",{
                                value = data.Nombre
                            });
                            $("#selectmunicipio").append(option); 
                        })
                    }
                })
            }
        })
    </script>


@{
    List<string> refugios = ViewData["REFUGIOS"] as List<string>;
}
<h1>FormVoluntarios</h1>

<h4>Voluntario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FormVoluntarios">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" name="nombre" type="text" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensaje" class="control-label"></label>
                <input asp-for="Mensaje" name="Mensaje" type="text" class="form-control" />
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" name="Imagen" type="text" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" type="text" name="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <select name="Municipio" id="selectmunicipio">

                </select>
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Nacimiento" class="control-label"></label>
                <input asp-for="Fecha_Nacimiento" type="date" name="Fecha_Nacimiento" class="form-control" />
                <span asp-validation-for="Fecha_Nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <select name="refugio" class="form-select">
                    @foreach(string name in refugios)
                    {
                        
                            <option value="@name">@name</option>
                        
                    }
                    </select>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
