@model RecuteDog.Models.Voluntario
@section scripts{
    <script>
        $(document).ready(function () {
            Init();
            function Init() {
                var urlpage1 = "https://servicios.ine.es/wstempus/js/ES/VALORES_VARIABLE/19?page=1";
                var urlpage2 = "https://servicios.ine.es/wstempus/js/ES/VALORES_VARIABLE/19?page=2";
                $.ajax({
                    "url": urlpage1,
                    "method": "get",
                    "datatype": "json",
                    success: function (data) {
                        //console.log(data);
                        $.each(data, function(index2, ciudad) {
                            console.log(ciudad.Nombre);
                            
                                var option = $("<option>"
                                    , { "value": ciudad.Nombre, "text": ciudad.Nombre });
                                $("#selectmunicipio").append(option);

                        });
                    }
                })
                $.ajax({
                    "url": urlpage2,
                    "method": "get",
                    "datatype": "json",
                    success: function (data) {
                        //console.log(data);
                        $.each(data, function(index2, ciudad) {
                            console.log(ciudad.Nombre);
                            
                                var option = $("<option>"
                                    , { "value": ciudad.Nombre, "text": ciudad.Nombre });
                                $("#selectmunicipio").append(option);

                        });
                    }
                })
            }

        })
    </script>
}




@{
    ViewData["Title"] = "FormVoluntarios";
    List<Refugio> refugios =
            Context.Session.GetObject<List<Refugio>>("REFUGIOS");
}
<h1>FormVoluntarios</h1>

<h4>Voluntario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FormVoluntarios" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" name="nombre" type="text" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mensaje" class="control-label"></label>
                <textarea name="Mensaje" class="form-control"></textarea>
                <span asp-validation-for="Mensaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" name="Imagen" type="file" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" type="text" name="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Municipio" class="control-label"></label>
                <select name="Municipio" id="selectmunicipio">

                </select>
                <span asp-validation-for="Municipio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Nacimiento" class="control-label"></label>
                <input asp-for="Fecha_Nacimiento" type="date" name="Fecha_Nacimiento" class="form-control" />
                <span asp-validation-for="Fecha_Nacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    <select name="idrefugio" class="form-select">
                        @foreach(Refugio refugio in refugios)
                    {
                        
                            <option value="@refugio.IdRefugio">@refugio.Nombre</option>
                        
                    }
                    </select>
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Hacerse Voluntario" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Regresar</a>
</div>
