@model IEnumerable<RecuteDog.Models.Voluntario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Voluntarios" asp-action="FormVoluntarios" class="btn btn-dark">Inscribirse</a>
</p>
<button>
    Inscribirse
</button>
@if(Model != null)
{
    @foreach(Voluntario voluntario in Model)
    {
        <div id="contenedorvoluntario">
                <div id="portada">
                <img id="imagenvoluntario" src="https://www.blogdelfotografo.com/wp-content/uploads/2022/01/chico-anime-risa.webp" alt="voluntario">
                </div>
                <div id="presentacion">
                    <h1></h1>
                    <p>@voluntario.Mensaje</p>
                    <h3>Refugio: @voluntario.Nombre</h3>
                    <h3>Municipio: @voluntario.Municipio</h3>
                </div>
            </div>
    }
    
}
