USE [master]
GO
/****** Object:  Database [PANIMALES]    Script Date: 02/03/2023 8:17:13 ******/
CREATE DATABASE [PANIMALES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PANIMALES', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\PANIMALES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PANIMALES_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARROLLO\MSSQL\DATA\PANIMALES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PANIMALES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PANIMALES]
GO
/****** Object:  Table [dbo].[MASCOTAS]    Script Date: 02/03/2023 8:17:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASCOTAS](
	[ID] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[RAZA] [nvarchar](50) NULL,
	[EDAD] [int] NULL,
	[ANCHO] [float] NULL,
	[ALTO] [float] NULL,
	[PESO] [float] NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
	[PELIGROSIDAD] [bit] NULL,
	[IMAGEN] [nvarchar](600) NULL,
 CONSTRAINT [PK_MASCOTAS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REFUGIOS]    Script Date: 02/03/2023 8:17:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFUGIOS](
	[ID] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[LOCALIDAD] [nvarchar](50) NULL,
	[UBICACION] [nchar](50) NULL,
	[IMAGEN] [nvarchar](50) NULL,
	[VALORACION] [nvarchar](50) NULL,
 CONSTRAINT [PK_REFUGIOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 02/03/2023 8:17:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[BIRDTHDAY] [nvarchar](50) NULL,
	[PHONE] [nvarchar](50) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [nvarchar](50) NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MASCOTAS] ([ID], [NOMBRE], [RAZA], [EDAD], [ANCHO], [ALTO], [PESO], [DESCRIPCION], [PELIGROSIDAD], [IMAGEN]) VALUES (1, N'AMBER', N'FUEGO', 21, 32.12, 21.23, 53, N'DESCRIPCION...                                                                                      ', 1, N'https://images.ecestaticos.com/h34TvzTFVdrau9Un4Wdmwhed_e4=/0x115:2265x1390/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F8ec%2F08c%2F85c%2F8ec08c85c866ccb70c4f1c36492d890f.jpg')
INSERT [dbo].[MASCOTAS] ([ID], [NOMBRE], [RAZA], [EDAD], [ANCHO], [ALTO], [PESO], [DESCRIPCION], [PELIGROSIDAD], [IMAGEN]) VALUES (2, N'PELÍN', N'PERRO PASTO', 12, 12.12, 9.98, 33.35, N'Este perro es un perro alemán que le encanta jugar', 0, N'https://images.ecestaticos.com/h34TvzTFVdrau9Un4Wdmwhed_e4=/0x115:2265x1390/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F8ec%2F08c%2F85c%2F8ec08c85c866ccb70c4f1c36492d890f.jpg')
INSERT [dbo].[MASCOTAS] ([ID], [NOMBRE], [RAZA], [EDAD], [ANCHO], [ALTO], [PESO], [DESCRIPCION], [PELIGROSIDAD], [IMAGEN]) VALUES (3, N'BACÓN', N'Border collie', 4, 6, 7, 11.5, N'Este perro es un de los más queridos ene nuestra perrera...', 0, N'https://images.ecestaticos.com/h34TvzTFVdrau9Un4Wdmwhed_e4=/0x115:2265x1390/1200x900/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F8ec%2F08c%2F85c%2F8ec08c85c866ccb70c4f1c36492d890f.jpg')
GO
INSERT [dbo].[USERS] ([ID], [NAME], [EMAIL], [BIRDTHDAY], [PHONE], [USERNAME], [PASSWORD]) VALUES (1, N'Admin', N'admin@gmail.com', N'14/05/2000', N'634534985345', N'admin1234', N'admin1234')
INSERT [dbo].[USERS] ([ID], [NAME], [EMAIL], [BIRDTHDAY], [PHONE], [USERNAME], [PASSWORD]) VALUES (2, N'Manolo', N'manuelolo@gmail.com', N'2023-01-30', N'10101011010', N'manu1234', N'asdasdasda')
INSERT [dbo].[USERS] ([ID], [NAME], [EMAIL], [BIRDTHDAY], [PHONE], [USERNAME], [PASSWORD]) VALUES (3, N'Manolo2', N'manuelolo2@gmail.com', N'2023-01-30', N'10101011010', N'manu12345', N'manu1234')
GO
USE [master]
GO
