/****** Object:  Database [AZURETAJAMAR]    Script Date: 27/03/2023 11:01:13 ******/
CREATE DATABASE [AZURETAJAMAR]  (EDITION = 'Basic', SERVICE_OBJECTIVE = 'Basic', MAXSIZE = 2 GB) WITH CATALOG_COLLATION = SQL_Latin1_General_CP1_CI_AS;
GO
/*** The scripts of database scoped configurations in Azure should be executed inside the target database connection. ***/
GO
-- ALTER DATABASE SCOPED CONFIGURATION SET MAXDOP = 8;
GO
/****** Object:  Table [dbo].[REFUGIOS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REFUGIOS](
	[IDREFUGIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[LOCALIDAD] [nvarchar](50) NULL,
	[UBICACION] [nchar](50) NULL,
	[IMAGEN] [nvarchar](1000) NULL,
	[VALORACION] [int] NULL,
	[DESCRIPCION] [nvarchar](100) NULL,
 CONSTRAINT [PK_REFUGIOS] PRIMARY KEY CLUSTERED 
(
	[IDREFUGIO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MASCOTAS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MASCOTAS](
	[IDMASCOTA] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[RAZA] [nvarchar](50) NULL,
	[EDAD] [int] NULL,
	[ANCHO] [float] NULL,
	[ALTO] [float] NULL,
	[PESO] [float] NULL,
	[DESCRIPCION] [nvarchar](600) NULL,
	[PELIGROSIDAD] [bit] NULL,
	[IMAGEN] [nvarchar](600) NULL,
	[ADOPTADO] [bit] NULL,
	[IDREFUGIO] [int] NULL,
 CONSTRAINT [PK_MASCOTAS] PRIMARY KEY CLUSTERED 
(
	[IDMASCOTA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_MASCOTAS_REFUGIOS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_MASCOTAS_REFUGIOS]
AS
	SELECT MASCOTAS.* FROM MASCOTAS
	INNER JOIN REFUGIOS
	ON REFUGIOS.IDREFUGIO = MASCOTAS.IDREFUGIO
GO
/****** Object:  Table [dbo].[USERS_VOLUNTARIOS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS_VOLUNTARIOS](
	[IDUSER] [int] NOT NULL,
	[EMAIL] [nvarchar](50) NULL,
	[BIRDTHDAY] [nvarchar](50) NULL,
	[PHONE] [nvarchar](50) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASSWORD] [varbinary](50) NULL,
	[CONTRASENA] [nvarchar](50) NULL,
	[SALT] [nvarchar](100) NULL,
	[IMAGEN] [nvarchar](1000) NULL,
 CONSTRAINT [PK_USERS_VOLUNTARIOS] PRIMARY KEY CLUSTERED 
(
	[IDUSER] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADOPCIONES]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADOPCIONES](
	[IDMASCOTA] [int] NULL,
	[IDUSER] [int] NULL,
	[FECHA_ADOPCION] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_VER_MASCOTAS_ADOPTADAS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_VER_MASCOTAS_ADOPTADAS]
AS
SELECT MASCOTAS.* FROM MASCOTAS
INNER JOIN ADOPCIONES
ON MASCOTAS.IDMASCOTA = ADOPCIONES.IDMASCOTA
INNER JOIN USERS_VOLUNTARIOS
ON ADOPCIONES.IDUSER = USERS_VOLUNTARIOS.IDUSER
GO
/****** Object:  Table [dbo].[EVENTOS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTOS](
	[IDEVENTO] [int] NOT NULL,
	[EVENTO] [nvarchar](150) NULL,
	[INICIOEVENTO] [datetime] NULL,
	[FINEVENTO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEVENTO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEMPORIZADORES]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPORIZADORES](
	[IDTIMER] [int] NOT NULL,
	[INICIO] [datetime] NULL,
	[IDCATEGORIA] [int] NULL,
	[PAUSA] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTIMER] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAS_TIMER]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS_TIMER](
	[IDCATEGORIA] [int] NOT NULL,
	[CATEGORIA] [nvarchar](50) NULL,
	[DURACION] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCATEGORIA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPRESAS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESAS](
	[IDEMPRESA] [int] NOT NULL,
	[EMPRESA] [nvarchar](250) NULL,
	[IMAGEN] [nvarchar](550) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDEMPRESA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALAS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALAS](
	[IDSALA] [int] NOT NULL,
	[SALA] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDSALA] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIEMPOS_EMPRESAS_SALAS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIEMPOS_EMPRESAS_SALAS](
	[UNIQUEID] [int] NOT NULL,
	[IDTIMER] [int] NULL,
	[IDEMPRESA] [int] NULL,
	[IDSALA] [int] NULL,
	[IDEVENTO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UNIQUEID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TIEMPOS_EVENTOS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TIEMPOS_EVENTOS]
AS
select 
CAST(ROW_NUMBER() OVER(ORDER BY TIEMPOS_EMPRESAS_SALAS.IDTIMER ASC) as int) 
           AS UniqueId,
TIEMPOS_EMPRESAS_SALAS.IDEMPRESA
, TIEMPOS_EMPRESAS_SALAS.IDTIMER
, TIEMPOS_EMPRESAS_SALAS.IDSALA
, TIEMPOS_EMPRESAS_SALAS.IDEVENTO
, CATEGORIAS_TIMER.IDCATEGORIA
, TEMPORIZADORES.INICIO
, TEMPORIZADORES.PAUSA
, CATEGORIAS_TIMER.CATEGORIA
, CATEGORIAS_TIMER.DURACION
, SALAS.SALA
, eventos.EVENTO
, EVENTOS.INICIOEVENTO
, EVENTOS.FINEVENTO
, EMPRESAS.EMPRESA
, ISNULL(EMPRESAS.IMAGEN, '') as IMAGEN
from TIEMPOS_EMPRESAS_SALAS
inner join EMPRESAS
on TIEMPOS_EMPRESAS_SALAS.IDEMPRESA = EMPRESAS.IDEMPRESA
inner join TEMPORIZADORES
on TIEMPOS_EMPRESAS_SALAS.IDTIMER = TEMPORIZADORES.IDTIMER
inner join CATEGORIAS_TIMER
on TEMPORIZADORES.IDCATEGORIA = CATEGORIAS_TIMER.IDCATEGORIA
inner join SALAS
on TIEMPOS_EMPRESAS_SALAS.IDSALA = SALAS.IDSALA
inner join EVENTOS
on TIEMPOS_EMPRESAS_SALAS.IDEVENTO = EVENTOS.IDEVENTO
GO
/****** Object:  Table [dbo].[COMENTARIOS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMENTARIOS](
	[IDCOMENTARIO] [int] NOT NULL,
	[IDPOST] [int] NULL,
	[EMAIL] [nvarchar](100) NULL,
	[COMENTARIOTEXT] [nvarchar](1000) NULL,
	[FECHA] [nvarchar](50) NULL,
	[IDUSER] [int] NULL,
 CONSTRAINT [PK_COMENTARIOS] PRIMARY KEY CLUSTERED 
(
	[IDCOMENTARIO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CURSOSBI]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURSOSBI](
	[IDCURSO] [int] NOT NULL,
	[NOMBRECURSO] [nvarchar](150) NULL,
	[DESCRIPCION] [nvarchar](500) NULL,
	[PRECIO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDCURSO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPT]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPT](
	[DEPT_NO] [int] NOT NULL,
	[DNOMBRE] [nvarchar](50) NULL,
	[LOC] [nvarchar](50) NULL,
 CONSTRAINT [PK_DEPT] PRIMARY KEY CLUSTERED 
(
	[DEPT_NO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCTOR]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCTOR](
	[HOSPITAL_COD] [nvarchar](50) NULL,
	[DOCTOR_NO] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[ESPECIALIDAD] [nvarchar](50) NULL,
	[SALARIO] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMP]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMP](
	[EMP_NO] [int] NOT NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[OFICIO] [nvarchar](50) NULL,
	[DIR] [int] NULL,
	[FECHA_ALT] [datetime] NULL,
	[SALARIO] [int] NULL,
	[COMISION] [int] NULL,
	[DEPT_NO] [int] NULL,
 CONSTRAINT [PK_EMP] PRIMARY KEY CLUSTERED 
(
	[EMP_NO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENFERMO]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENFERMO](
	[INSCRIPCION] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[FECHA_NAC] [datetime] NULL,
	[S] [nvarchar](50) NULL,
	[NSS] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPITAL]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPITAL](
	[HOSPITAL_COD] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](50) NULL,
	[TELEFONO] [nvarchar](50) NULL,
	[NUM_CAMA] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OCUPACION]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCUPACION](
	[INSCRIPCION] [int] NULL,
	[HOSPITAL_COD] [int] NULL,
	[SALA_COD] [int] NULL,
	[CAMA] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANTILLA]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTILLA](
	[HOSPITAL_COD] [nvarchar](50) NULL,
	[SALA_COD] [nvarchar](50) NULL,
	[EMPLEADO_NO] [nvarchar](50) NULL,
	[APELLIDO] [nvarchar](50) NULL,
	[FUNCION] [nvarchar](50) NULL,
	[T] [nvarchar](50) NULL,
	[SALARIO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RESCUTEBLOG]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESCUTEBLOG](
	[IDPOST] [int] NOT NULL,
	[TITULO] [nvarchar](50) NULL,
	[CONTENIDO] [nvarchar](1000) NULL,
	[IMAGEN] [nvarchar](600) NULL,
	[IDUSER] [int] NULL,
	[FECHA] [nvarchar](50) NULL,
 CONSTRAINT [PK_RESCUTEBLOG] PRIMARY KEY CLUSTERED 
(
	[IDPOST] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SALA]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALA](
	[HOSPITAL_COD] [nvarchar](50) NULL,
	[SALA_COD] [nvarchar](50) NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[NUM_CAMA] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOLICITUDESALUMNOSBI]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOLICITUDESALUMNOSBI](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](150) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIRECCION] [nvarchar](500) NULL,
	[DNI] [nchar](9) NULL,
	[FECHAREGISTRO] [datetime] NULL,
	[IDCURSO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[IDUSUARIO] [int] NOT NULL,
	[USERNAME] [nvarchar](50) NULL,
	[PASS] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOLUNTARIOS]    Script Date: 27/03/2023 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VOLUNTARIOS](
	[IDVOLUNTARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NULL,
	[MENSAJE] [nvarchar](600) NULL,
	[IMAGEN] [nvarchar](1000) NULL,
	[CORREO] [nvarchar](100) NULL,
	[MUNICIPIO] [nvarchar](80) NULL,
	[FECHA_NACIMIENTO] [nvarchar](50) NULL,
	[IDREFUGIO] [int] NULL,
 CONSTRAINT [PK_VOLUNTARIOS] PRIMARY KEY CLUSTERED 
(
	[IDVOLUNTARIO] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ADOPCIONES] ([IDMASCOTA], [IDUSER], [FECHA_ADOPCION]) VALUES (2, 1, N'Mar 27 2023  8:38AM')
INSERT [dbo].[ADOPCIONES] ([IDMASCOTA], [IDUSER], [FECHA_ADOPCION]) VALUES (5, 1, N'Mar 27 2023  8:38AM')
GO
INSERT [dbo].[CATEGORIAS_TIMER] ([IDCATEGORIA], [CATEGORIA], [DURACION]) VALUES (1, N'WORKER', 20)
INSERT [dbo].[CATEGORIAS_TIMER] ([IDCATEGORIA], [CATEGORIA], [DURACION]) VALUES (2, N'DESCANSO', 5)
INSERT [dbo].[CATEGORIAS_TIMER] ([IDCATEGORIA], [CATEGORIA], [DURACION]) VALUES (3, N'LARGO', 60)
GO
INSERT [dbo].[COMENTARIOS] ([IDCOMENTARIO], [IDPOST], [EMAIL], [COMENTARIOTEXT], [FECHA], [IDUSER]) VALUES (1, 4, N'admin2@gmail.com', N'hola mundo', N'2023-03-26', 1)
GO
INSERT [dbo].[CURSOSBI] ([IDCURSO], [NOMBRECURSO], [DESCRIPCION], [PRECIO]) VALUES (1, N'POWER PLATFORM', N'Certificación PL400', 900)
INSERT [dbo].[CURSOSBI] ([IDCURSO], [NOMBRECURSO], [DESCRIPCION], [PRECIO]) VALUES (2, N'AZURE', N'Certificación AZ204', 950)
INSERT [dbo].[CURSOSBI] ([IDCURSO], [NOMBRECURSO], [DESCRIPCION], [PRECIO]) VALUES (3, N'AWS', N'Certicificación Developer', 1200)
GO
INSERT [dbo].[DEPT] ([DEPT_NO], [DNOMBRE], [LOC]) VALUES (10, N'CONTABILIDAD', N'ELCHE')
INSERT [dbo].[DEPT] ([DEPT_NO], [DNOMBRE], [LOC]) VALUES (20, N'INVESTIGACION', N'MADRID')
INSERT [dbo].[DEPT] ([DEPT_NO], [DNOMBRE], [LOC]) VALUES (30, N'VENTAS', N'BARCELONA')
GO
INSERT [dbo].[DOCTOR] ([HOSPITAL_COD], [DOCTOR_NO], [APELLIDO], [ESPECIALIDAD], [SALARIO]) VALUES (N'22', N'386', N'Cabeza D.', N'Psiquiatría', 152000)
INSERT [dbo].[DOCTOR] ([HOSPITAL_COD], [DOCTOR_NO], [APELLIDO], [ESPECIALIDAD], [SALARIO]) VALUES (N'22', N'398', N'Best D.', N'Urología', 225000)
INSERT [dbo].[DOCTOR] ([HOSPITAL_COD], [DOCTOR_NO], [APELLIDO], [ESPECIALIDAD], [SALARIO]) VALUES (N'19', N'435', N'López A.', N'Cardiología', 321000)
GO
INSERT [dbo].[EMP] ([EMP_NO], [APELLIDO], [OFICIO], [DIR], [FECHA_ALT], [SALARIO], [COMISION], [DEPT_NO]) VALUES (7322, N'FORD', N'VENDEDOR', 7919, CAST(N'1982-04-04T00:00:00.000' AS DateTime), 129600, 0, 20)
INSERT [dbo].[EMP] ([EMP_NO], [APELLIDO], [OFICIO], [DIR], [FECHA_ALT], [SALARIO], [COMISION], [DEPT_NO]) VALUES (7369, N'SANCHA', N'EMPLEADO', 7902, CAST(N'1980-12-17T00:00:00.000' AS DateTime), 104700, 0, 20)
INSERT [dbo].[EMP] ([EMP_NO], [APELLIDO], [OFICIO], [DIR], [FECHA_ALT], [SALARIO], [COMISION], [DEPT_NO]) VALUES (7499, N'ARROYO', N'VENDEDOR', 7698, CAST(N'1981-02-22T00:00:00.000' AS DateTime), 208600, 39000, 30)
GO
INSERT [dbo].[EMPRESAS] ([IDEMPRESA], [EMPRESA], [IMAGEN]) VALUES (1, N'AVANADE', N'https://www.nomaspapel.es/assets/blog/5e99714cb4a08947402795.png')
INSERT [dbo].[EMPRESAS] ([IDEMPRESA], [EMPRESA], [IMAGEN]) VALUES (2, N'ENCAMINA', N'https://www.nomaspapel.es/assets/blog/5e99714cb4a08947402795.png')
INSERT [dbo].[EMPRESAS] ([IDEMPRESA], [EMPRESA], [IMAGEN]) VALUES (3, N'INDRA', N'https://www.nomaspapel.es/assets/blog/5e99714cb4a08947402795.png')
GO
INSERT [dbo].[ENFERMO] ([INSCRIPCION], [APELLIDO], [DIRECCION], [FECHA_NAC], [S], [NSS]) VALUES (N'10995', N'Laguía M.', N'Goya 20', CAST(N'1956-05-16T00:00:00.000' AS DateTime), N'M', N'280862422')
INSERT [dbo].[ENFERMO] ([INSCRIPCION], [APELLIDO], [DIRECCION], [FECHA_NAC], [S], [NSS]) VALUES (N'14024', N'Fernández M.', N'Recoletos 50', CAST(N'1960-05-21T00:00:00.000' AS DateTime), N'F', N'284991452')
INSERT [dbo].[ENFERMO] ([INSCRIPCION], [APELLIDO], [DIRECCION], [FECHA_NAC], [S], [NSS]) VALUES (N'18004', N'Serrano V.', N'Alcalá 12', CAST(N'1967-06-23T00:00:00.000' AS DateTime), N'F', N'321790059')
GO
INSERT [dbo].[EVENTOS] ([IDEVENTO], [EVENTO], [INICIOEVENTO], [FINEVENTO]) VALUES (1, N'FORO EMPLEO MAÑANAS', CAST(N'2023-01-18T09:00:00.000' AS DateTime), CAST(N'2023-01-18T14:30:00.000' AS DateTime))
INSERT [dbo].[EVENTOS] ([IDEVENTO], [EVENTO], [INICIOEVENTO], [FINEVENTO]) VALUES (2, N'FORO EMPLEO TARDES', CAST(N'2023-01-18T16:00:00.000' AS DateTime), CAST(N'2023-01-18T20:00:00.000' AS DateTime))
GO
INSERT [dbo].[HOSPITAL] ([HOSPITAL_COD], [NOMBRE], [DIRECCION], [TELEFONO], [NUM_CAMA]) VALUES (N'19', N'Provincial', N'O'' Donell 50', N'964-4256', N'502')
INSERT [dbo].[HOSPITAL] ([HOSPITAL_COD], [NOMBRE], [DIRECCION], [TELEFONO], [NUM_CAMA]) VALUES (N'18', N'General', N'Atocha s/n', N'595-3111', N'987')
INSERT [dbo].[HOSPITAL] ([HOSPITAL_COD], [NOMBRE], [DIRECCION], [TELEFONO], [NUM_CAMA]) VALUES (N'22', N'La Paz', N'Castellana 1000', N'923-5411', N'412')
GO
INSERT [dbo].[MASCOTAS] ([IDMASCOTA], [NOMBRE], [RAZA], [EDAD], [ANCHO], [ALTO], [PESO], [DESCRIPCION], [PELIGROSIDAD], [IMAGEN], [ADOPTADO], [IDREFUGIO]) VALUES (1, N'Pety', N'Border C', 12, 12, 7, 20, N'Esta Mascota  es de las  favoritas del refugio', 1, N'jupiter.jpg', 0, 6)
INSERT [dbo].[MASCOTAS] ([IDMASCOTA], [NOMBRE], [RAZA], [EDAD], [ANCHO], [ALTO], [PESO], [DESCRIPCION], [PELIGROSIDAD], [IMAGEN], [ADOPTADO], [IDREFUGIO]) VALUES (2, N'Cebolla', N'Beagle', 6, 6, 8, 10, N'Esta mascota tiene excelente vinculo con nuetros voluntario', 0, N'jupiter.jpg', 1, 7)
INSERT [dbo].[MASCOTAS] ([IDMASCOTA], [NOMBRE], [RAZA], [EDAD], [ANCHO], [ALTO], [PESO], [DESCRIPCION], [PELIGROSIDAD], [IMAGEN], [ADOPTADO], [IDREFUGIO]) VALUES (3, N'Lily', N'Pastor Aleman', 4, 5, 7, 8, N'Esta mascota...', 0, N'jupiter.jpg', 0, 7)
GO
INSERT [dbo].[OCUPACION] ([INSCRIPCION], [HOSPITAL_COD], [SALA_COD], [CAMA]) VALUES (10995, 19, 6, 1)
INSERT [dbo].[OCUPACION] ([INSCRIPCION], [HOSPITAL_COD], [SALA_COD], [CAMA]) VALUES (18004, 19, 3, 2)
INSERT [dbo].[OCUPACION] ([INSCRIPCION], [HOSPITAL_COD], [SALA_COD], [CAMA]) VALUES (14024, 19, 6, 3)
GO
INSERT [dbo].[PLANTILLA] ([HOSPITAL_COD], [SALA_COD], [EMPLEADO_NO], [APELLIDO], [FUNCION], [T], [SALARIO]) VALUES (N'22', N'6', N'1009', N'Higueras D.', N'Enfermera', N'T', N'200500')
INSERT [dbo].[PLANTILLA] ([HOSPITAL_COD], [SALA_COD], [EMPLEADO_NO], [APELLIDO], [FUNCION], [T], [SALARIO]) VALUES (N'45', N'4', N'1280', N'Amigo R.', N'Interino', N'N', N'221000')
INSERT [dbo].[PLANTILLA] ([HOSPITAL_COD], [SALA_COD], [EMPLEADO_NO], [APELLIDO], [FUNCION], [T], [SALARIO]) VALUES (N'19', N'6', N'3106', N'Hernández J.', N'Enfermero', N'T', N'275000')
GO
INSERT [dbo].[REFUGIOS] ([IDREFUGIO], [NOMBRE], [LOCALIDAD], [UBICACION], [IMAGEN], [VALORACION], [DESCRIPCION]) VALUES (6, N'CASA', N'Leganes', N'Leganes                                           ', N'jupiter.jpg', 8, N'Casa es el refugio de perros y gatos mas famoso de madrid')
INSERT [dbo].[REFUGIOS] ([IDREFUGIO], [NOMBRE], [LOCALIDAD], [UBICACION], [IMAGEN], [VALORACION], [DESCRIPCION]) VALUES (7, N'PetStars', N'Madrid', N'Las Suertes, 12                                   ', N'WhatsApp Image 2023-03-27 at 00.52.58 (1).jpeg', 6, N'Este refugio es de los mas cercanos de madrid capital')
INSERT [dbo].[REFUGIOS] ([IDREFUGIO], [NOMBRE], [LOCALIDAD], [UBICACION], [IMAGEN], [VALORACION], [DESCRIPCION]) VALUES (8, N'Merlin 2', N'Coslada', N'Calle a San Bernando, 12                          ', N'WhatsApp Image 2023-03-27 at 00.52.58.jpeg', 7, N'Este refugio en Coslada en una protectora con las mejores tecnologías.')
GO
INSERT [dbo].[RESCUTEBLOG] ([IDPOST], [TITULO], [CONTENIDO], [IMAGEN], [IDUSER], [FECHA]) VALUES (3, N'Adoptame', N'El otro día me atrevía adoptar a una mascota', N'img.png', 1, N'12/2/21')
INSERT [dbo].[RESCUTEBLOG] ([IDPOST], [TITULO], [CONTENIDO], [IMAGEN], [IDUSER], [FECHA]) VALUES (4, N'Casa Rural', N'El otro día mi mascota y yo fuimos a una casa rural y pasamos un', N'jupiter.jpg', 1, N'12/5/21')
INSERT [dbo].[RESCUTEBLOG] ([IDPOST], [TITULO], [CONTENIDO], [IMAGEN], [IDUSER], [FECHA]) VALUES (5, N'Amigo Animal', N'El otro dia con mi perro nos paso algo sorprendente, fuimos a un Refugio y mi mascota se hizo amigo de muchos animales', N'img.png', 2, N'12/3/2021')
GO
INSERT [dbo].[SALA] ([HOSPITAL_COD], [SALA_COD], [NOMBRE], [NUM_CAMA]) VALUES (N'19', N'3', N'Cuidados Intensivos', N'21')
INSERT [dbo].[SALA] ([HOSPITAL_COD], [SALA_COD], [NOMBRE], [NUM_CAMA]) VALUES (N'19', N'6', N'Psiquiátricos', N'67')
INSERT [dbo].[SALA] ([HOSPITAL_COD], [SALA_COD], [NOMBRE], [NUM_CAMA]) VALUES (N'18', N'3', N'Cuidados Intensivos', N'10')
GO
INSERT [dbo].[SALAS] ([IDSALA], [SALA]) VALUES (1, N'CONFERENCIAS')
INSERT [dbo].[SALAS] ([IDSALA], [SALA]) VALUES (2, N'DESARROLLO')
INSERT [dbo].[SALAS] ([IDSALA], [SALA]) VALUES (3, N'SISTEMAS')
GO
SET IDENTITY_INSERT [dbo].[SOLICITUDESALUMNOSBI] ON 

INSERT [dbo].[SOLICITUDESALUMNOSBI] ([IDUSUARIO], [NOMBRE], [EMAIL], [DIRECCION], [DNI], [FECHAREGISTRO], [IDCURSO]) VALUES (1, N'Pablo', N'pablotajamar@tjamar.com', N'calle del olivo, 7', N'23577348K', NULL, 3)
INSERT [dbo].[SOLICITUDESALUMNOSBI] ([IDUSUARIO], [NOMBRE], [EMAIL], [DIRECCION], [DNI], [FECHAREGISTRO], [IDCURSO]) VALUES (2, N'Hector', N'hectortajamar@tajamar.com', N'Calle emabajadores, 32', N'83399446D', NULL, 3)
INSERT [dbo].[SOLICITUDESALUMNOSBI] ([IDUSUARIO], [NOMBRE], [EMAIL], [DIRECCION], [DNI], [FECHAREGISTRO], [IDCURSO]) VALUES (3, N'Carlos', N'carlostajamar@tajamar.com', N'Calle Amporo Usera, 10', N'42166238S', CAST(N'2022-12-21T08:13:00.000' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[SOLICITUDESALUMNOSBI] OFF
GO
INSERT [dbo].[TEMPORIZADORES] ([IDTIMER], [INICIO], [IDCATEGORIA], [PAUSA]) VALUES (1, CAST(N'2023-01-18T09:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[TEMPORIZADORES] ([IDTIMER], [INICIO], [IDCATEGORIA], [PAUSA]) VALUES (2, CAST(N'2023-01-18T09:15:00.000' AS DateTime), 2, 0)
INSERT [dbo].[TEMPORIZADORES] ([IDTIMER], [INICIO], [IDCATEGORIA], [PAUSA]) VALUES (3, CAST(N'2023-01-18T09:20:00.000' AS DateTime), 1, 0)
GO
INSERT [dbo].[TIEMPOS_EMPRESAS_SALAS] ([UNIQUEID], [IDTIMER], [IDEMPRESA], [IDSALA], [IDEVENTO]) VALUES (1, 1, 2, 2, 1)
INSERT [dbo].[TIEMPOS_EMPRESAS_SALAS] ([UNIQUEID], [IDTIMER], [IDEMPRESA], [IDSALA], [IDEVENTO]) VALUES (2, 3, 1, 4, 1)
GO
INSERT [dbo].[USERS_VOLUNTARIOS] ([IDUSER], [EMAIL], [BIRDTHDAY], [PHONE], [USERNAME], [PASSWORD], [CONTRASENA], [SALT], [IMAGEN]) VALUES (1, N'admin@gmail.com', N'2023-02-27', N'5489054430958', N'rescutedogkw', 0x89D8F9C8A9655C5A8DA16643EABF01CB5C9E7F9472FC0617AC09BB91510FC258, N'1234', N'H[~ëá''\ÎÞÕ8gS
by§ÌmwC¿õv3`Ý:½&"£é½0)ûÃÚÈP~RXW«jHÛò', N'jupiter.jpg')
INSERT [dbo].[USERS_VOLUNTARIOS] ([IDUSER], [EMAIL], [BIRDTHDAY], [PHONE], [USERNAME], [PASSWORD], [CONTRASENA], [SALT], [IMAGEN]) VALUES (2, N'user@gmail.com', N'2023-02-01', N'6456546465', N'TOVAR5', 0x683C9C1FE1867E73D254634227DC7C0166BFCB66150495F79F5BA25E495650F2, N'1234', N'>ØÄmä!
ÔYOÆÀTñRåh
«¬¼ë&·üîEÀ¶CRVÓëXD/¶Å£ùADªü', N'jupiter.jpg')
GO
INSERT [dbo].[USUARIOS] ([IDUSUARIO], [USERNAME], [PASS]) VALUES (1, N'JUAN', N'12345')
INSERT [dbo].[USUARIOS] ([IDUSUARIO], [USERNAME], [PASS]) VALUES (2, N'ADMIN', N'12345')
GO
INSERT [dbo].[VOLUNTARIOS] ([IDVOLUNTARIO], [NOMBRE], [MENSAJE], [IMAGEN], [CORREO], [MUNICIPIO], [FECHA_NACIMIENTO], [IDREFUGIO]) VALUES (2, N'Merlin', N'Me gusta ayudar a las mascotas tanto y como ellas ', N'WhatsApp Image 2023-03-27 at 00.52.57 (2).jpeg', N'merlin@gmail.com', N'Camarles', N'2023-02-14', 7)
INSERT [dbo].[VOLUNTARIOS] ([IDVOLUNTARIO], [NOMBRE], [MENSAJE], [IMAGEN], [CORREO], [MUNICIPIO], [FECHA_NACIMIENTO], [IDREFUGIO]) VALUES (3, N'Clara Campo Amor', N'Soy voluntario en Petstar', N'perro2.jpg', N'merlin@gmail.com', N'Orbaizeta', N'2023-02-15', 7)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNIQUE_DNI]    Script Date: 27/03/2023 11:01:19 ******/
ALTER TABLE [dbo].[SOLICITUDESALUMNOSBI] ADD  CONSTRAINT [UNIQUE_DNI] UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ADOPCIONES]  WITH CHECK ADD  CONSTRAINT [FK_ADOPCIONES_MASCOTAS] FOREIGN KEY([IDMASCOTA])
REFERENCES [dbo].[MASCOTAS] ([IDMASCOTA])
GO
ALTER TABLE [dbo].[ADOPCIONES] CHECK CONSTRAINT [FK_ADOPCIONES_MASCOTAS]
GO
ALTER TABLE [dbo].[ADOPCIONES]  WITH CHECK ADD  CONSTRAINT [FK_ADOPCIONES_USERS_VOLUNTARIOS] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USERS_VOLUNTARIOS] ([IDUSER])
GO
ALTER TABLE [dbo].[ADOPCIONES] CHECK CONSTRAINT [FK_ADOPCIONES_USERS_VOLUNTARIOS]
GO
ALTER TABLE [dbo].[COMENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_COMENTARIOS_RESCUTEBLOG] FOREIGN KEY([IDPOST])
REFERENCES [dbo].[RESCUTEBLOG] ([IDPOST])
GO
ALTER TABLE [dbo].[COMENTARIOS] CHECK CONSTRAINT [FK_COMENTARIOS_RESCUTEBLOG]
GO
ALTER TABLE [dbo].[COMENTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_COMENTARIOS_USERS_VOLUNTARIOS] FOREIGN KEY([IDUSER])
REFERENCES [dbo].[USERS_VOLUNTARIOS] ([IDUSER])
GO
ALTER TABLE [dbo].[COMENTARIOS] CHECK CONSTRAINT [FK_COMENTARIOS_USERS_VOLUNTARIOS]
GO
ALTER TABLE [dbo].[MASCOTAS]  WITH CHECK ADD  CONSTRAINT [FK_MASCOTAS_REFUGIOS1] FOREIGN KEY([IDREFUGIO])
REFERENCES [dbo].[REFUGIOS] ([IDREFUGIO])
GO
ALTER TABLE [dbo].[MASCOTAS] CHECK CONSTRAINT [FK_MASCOTAS_REFUGIOS1]
GO
ALTER TABLE [dbo].[SOLICITUDESALUMNOSBI]  WITH CHECK ADD  CONSTRAINT [FK_SOLICITUDESBI_CURSOSBI] FOREIGN KEY([IDCURSO])
REFERENCES [dbo].[CURSOSBI] ([IDCURSO])
GO
ALTER TABLE [dbo].[SOLICITUDESALUMNOSBI] CHECK CONSTRAINT [FK_SOLICITUDESBI_CURSOSBI]
GO
ALTER TABLE [dbo].[TEMPORIZADORES]  WITH CHECK ADD  CONSTRAINT [FK_TEMPORIZADORES_CATEGORIAS_TIMER] FOREIGN KEY([IDCATEGORIA])
REFERENCES [dbo].[CATEGORIAS_TIMER] ([IDCATEGORIA])
GO
ALTER TABLE [dbo].[TEMPORIZADORES] CHECK CONSTRAINT [FK_TEMPORIZADORES_CATEGORIAS_TIMER]
GO
ALTER TABLE [dbo].[TIEMPOS_EMPRESAS_SALAS]  WITH CHECK ADD  CONSTRAINT [FK_TIEMPOS_EMPRESAS_SALAS_EMPRESAS] FOREIGN KEY([IDEMPRESA])
REFERENCES [dbo].[EMPRESAS] ([IDEMPRESA])
GO
ALTER TABLE [dbo].[TIEMPOS_EMPRESAS_SALAS] CHECK CONSTRAINT [FK_TIEMPOS_EMPRESAS_SALAS_EMPRESAS]
GO
ALTER TABLE [dbo].[TIEMPOS_EMPRESAS_SALAS]  WITH CHECK ADD  CONSTRAINT [FK_TIEMPOS_EMPRESAS_SALAS_EVENTOS] FOREIGN KEY([IDEVENTO])
REFERENCES [dbo].[EVENTOS] ([IDEVENTO])
GO
ALTER TABLE [dbo].[TIEMPOS_EMPRESAS_SALAS] CHECK CONSTRAINT [FK_TIEMPOS_EMPRESAS_SALAS_EVENTOS]
GO
ALTER TABLE [dbo].[TIEMPOS_EMPRESAS_SALAS]  WITH CHECK ADD  CONSTRAINT [FK_TIEMPOS_EMPRESAS_SALAS_SALAS] FOREIGN KEY([IDSALA])
REFERENCES [dbo].[SALAS] ([IDSALA])
GO
ALTER TABLE [dbo].[TIEMPOS_EMPRESAS_SALAS] CHECK CONSTRAINT [FK_TIEMPOS_EMPRESAS_SALAS_SALAS]
GO
ALTER TABLE [dbo].[TIEMPOS_EMPRESAS_SALAS]  WITH CHECK ADD  CONSTRAINT [FK_TIEMPOS_EMPRESAS_SALAS_TEMPORIZADORES] FOREIGN KEY([IDTIMER])
REFERENCES [dbo].[TEMPORIZADORES] ([IDTIMER])
GO
ALTER TABLE [dbo].[TIEMPOS_EMPRESAS_SALAS] CHECK CONSTRAINT [FK_TIEMPOS_EMPRESAS_SALAS_TEMPORIZADORES]
GO
ALTER TABLE [dbo].[VOLUNTARIOS]  WITH CHECK ADD  CONSTRAINT [FK_VOLUNTARIOS_REFUGIOS] FOREIGN KEY([IDREFUGIO])
REFERENCES [dbo].[REFUGIOS] ([IDREFUGIO])
GO
ALTER TABLE [dbo].[VOLUNTARIOS] CHECK CONSTRAINT [FK_VOLUNTARIOS_REFUGIOS]
GO
/****** Object:  StoredProcedure [dbo].[BAJA_ALL_COMENTARIOS]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BAJA_ALL_COMENTARIOS](@IDPOST INT)
AS
	DELETE FROM COMENTARIOS WHERE IDPOST = @IDPOST
GO
/****** Object:  StoredProcedure [dbo].[BAJA_ALL_MASCOTAS]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BAJA_ALL_MASCOTAS]
AS
	DELETE FROM MASCOTAS
GO
/****** Object:  StoredProcedure [dbo].[BAJA_ALL_MASCOTAS_REFUIGIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BAJA_ALL_MASCOTAS_REFUIGIO](@IDREFUGIO INT)
AS
	DELETE FROM MASCOTAS WHERE IDREFUGIO = @IDREFUGIO
GO
/****** Object:  StoredProcedure [dbo].[BAJA_ALL_PUBLICACIONES]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BAJA_ALL_PUBLICACIONES](@IDUSER INT)
AS
	DELETE FROM COMENTARIOS WHERE @IDUSER = @IDUSER
GO
/****** Object:  StoredProcedure [dbo].[BajaUsuario]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BajaUsuario](@IDUSER INT)
AS
	DELETE FROM USERS_VOLUNTARIOS WHERE IDUSER = @IDUSER
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_DATOS_MASCOTA]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_DATOS_MASCOTA](@IDMASCOTA INT, @IDREFUGIO INT, @NOMBRE NVARCHAR(50), @EDAD FLOAT, @ANCHO FLOAT, @ALTO FLOAT , @PESO FLOAT, @DESCRIPCION NVARCHAR(1000), @IMAGEN NVARCHAR(600), @PELIGROSIDAD BIT)
    AS
        UPDATE MASCOTAS SET IDREFUGIO = @IDREFUGIO, NOMBRE = @NOMBRE, EDAD = @EDAD, ANCHO = @ANCHO, @ALTO = @ALTO, PESO = @PESO, DESCRIPCION = @DESCRIPCION, IMAGEN = @IMAGEN, PELIGROSIDAD = @PELIGROSIDAD WHERE IDMASCOTA = @IDMASCOTA
GO
/****** Object:  StoredProcedure [dbo].[SP_ACTUALIZAR_DATOS_REFUGIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ACTUALIZAR_DATOS_REFUGIO](@IDREFUGIO INT, @NOMBRE NVARCHAR(50), @LOCALIDAD NVARCHAR(50), @UBICACION NVARCHAR(50), @IMAGEN NVARCHAR(1000), @VALORACION INT, @DESCRIPCION NVARCHAR(1000))
    AS
        UPDATE REFUGIOS SET NOMBRE = @NOMBRE, LOCALIDAD =  @LOCALIDAD, UBICACION = @UBICACION, IMAGEN = @IMAGEN, VALORACION = @VALORACION, DESCRIPCION = @DESCRIPCION WHERE IDREFUGIO = @IDREFUGIO
GO
/****** Object:  StoredProcedure [dbo].[SP_BAJA_REFUGIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BAJA_REFUGIO](@IDREFUGIO INT)
AS
	--ELIMINO LOS VOLUNTARIOS QUE ESTABAN HASTA EL FINAL EN EL REFUGUO
	DELETE FROM VOLUNTARIOS WHERE IDREFUGIO = @IDREFUGIO
	DELETE FROM REFUGIOS WHERE IDREFUGIO = @IDREFUGIO
	
GO
/****** Object:  StoredProcedure [dbo].[SP_BAJA_USER]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BAJA_USER](@IDUSER INT)
AS
	DELETE FROM USERS_VOLUNTARIOS WHERE IDUSER = @IDUSER
GO
/****** Object:  StoredProcedure [dbo].[SP_BAJA_VOLUNTARIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_BAJA_VOLUNTARIO](@IDVOLUNTARIO INT)AS
	DELETE FROM VOLUNTARIOS WHERE IDVOLUNTARIO = @IDVOLUNTARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_DELETE_POST]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DELETE_POST](@IDPOST INT)
    AS
	DELETE FROM COMENTARIOS WHERE IDPOST = @IDPOST
     DELETE FROM RESCUTEBLOG WHERE IDPOST = @IDPOST
GO
/****** Object:  StoredProcedure [dbo].[SP_DELTE_COMENTARIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE PROCEDURE [dbo].[SP_DELTE_COMENTARIO](@IDCOMENTARIO INT)
        AS
            DELETE FROM COMENTARIOS WHERE IDCOMENTARIO = @IDCOMENTARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_DETAILS_REFUGIOS]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DETAILS_REFUGIOS](@IDREFUGIO INT)
   AS
		SELECT * FROM REFUGIOS WHERE IDREFUGIO = @IDREFUGIO
GO
/****** Object:  StoredProcedure [dbo].[SP_DETALLES_MASCOTA]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DETALLES_MASCOTA](@ID INT)
    AS

        SELECT* FROM MASCOTAS WHERE IDMASCOTA = @ID
GO
/****** Object:  StoredProcedure [dbo].[SP_DEVOLVER_ANIMAL_AL_REFUGIGO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DEVOLVER_ANIMAL_AL_REFUGIGO](@IDMASCOTA INT)
AS
 DELETE FROM ADOPCIONES WHERE IDMASCOTA = @IDMASCOTA
GO
/****** Object:  StoredProcedure [dbo].[SP_EMP_DEPT]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*EXEC SP_EMP_DEPT 'VENTAS'*/
create procedure [dbo].[SP_EMP_DEPT](@DEPARTAMENTO NVARCHAR(50)) AS
select EMP.APELLIDO, EMP.OFICIO, EMP.SALARIO, DEPT.DNOMBRE 
AS DEPARTAMENTO, 
DEPT.LOC AS LOCALIDAD
 FROM EMP
 INNER JOIN DEPT 
 ON EMP.DEPT_NO=DEPT.DEPT_NO
 WHERE DEPT.DNOMBRE=@DEPARTAMENTO 
GO
/****** Object:  StoredProcedure [dbo].[SP_FIND_VOLUNTARIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_FIND_VOLUNTARIO] (@IDVOLUNTARIO INT)
AS
	SELECT * FROM VOLUNTARIOS WHERE IDVOLUNTARIO = @IDVOLUNTARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_GENERAR_INFORME_ADOPCIONES]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GENERAR_INFORME_ADOPCIONES]
AS
SELECT * FROM V_VER_MASCOTAS_ADOPTADAS
GO
/****** Object:  StoredProcedure [dbo].[SP_GET_POST]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
        CREATE PROCEDURE [dbo].[SP_GET_POST]
    AS
     SELECT * FROM RESCUTEBLOG ORDER BY FECHA DESC
GO
/****** Object:  StoredProcedure [dbo].[SP_INCREMENTO_SALARIO_EMP]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_INCREMENTO_SALARIO_EMP]
(@APELLIDO NVARCHAR(30),@INCREMENTO INT)
AS
	UPDATE EMP SET SALARIO = SALARIO + @INCREMENTO
	WHERE APELLIDO = @APELLIDO
GO
/****** Object:  StoredProcedure [dbo].[SP_INGRESO_MASCOTA_RESCATADA]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_INGRESO_MASCOTA_RESCATADA](@NOMBRE NVARCHAR(50), @RAZA NVARCHAR(50), @EDAD INT, @ANCHO FLOAT, @ALTO FLOAT, @PESO FLOAT, @DESCRIPCION NVARCHAR(200), @PELIGROSIDAD BIT, @IMAGEN NVARCHAR(600), @ADOPTADO BIT, @IDREFUGIO INT)
    AS

        DECLARE @ID INT

        SELECT @ID = ISNULL(MAX(IDMASCOTA),0) + 1 FROM MASCOTAS --AUTOINCREMENTO

        INSERT INTO MASCOTAS VALUES(@ID, @NOMBRE, @RAZA, @EDAD, @ANCHO, @ALTO, @PESO, @DESCRIPCION, @PELIGROSIDAD, @IMAGEN, @ADOPTADO, @IDREFUGIO)
GO
/****** Object:  StoredProcedure [dbo].[SP_MODIFICAR_DATOS_VOLUNTARIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[SP_MODIFICAR_DATOS_VOLUNTARIO](@IDVOLUNTARIO INT, @NOMBRE NVARCHAR(50), @MENSAJE NVARCHAR(600), @IMAGEN NVARCHAR(1000),@CORREO NVARCHAR(50), @MUNICIPIO NVARCHAR(80), @FECHANAC DATE, @IDREFUGIO INT)AS
		UPDATE VOLUNTARIOS SET NOMBRE =  @NOMBRE, MENSAJE = @MENSAJE, IMAGEN = @IMAGEN, CORREO = @CORREO, MUNICIPIO = @MUNICIPIO, FECHA_NACIMIENTO = @FECHANAC, IDREFUGIO = @IDREFUGIO WHERE IDVOLUNTARIO = @IDVOLUNTARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_NEW_COMENTARIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	CREATE PROCEDURE [dbo].[SP_NEW_COMENTARIO](@IDPOST INT, @EMAIL NVARCHAR(50), @COMENTARIO NVARCHAR(600), @FECHA DATE, @IDUSER INT)
        AS
            DECLARE @IDCOMENTARIO INT

            SELECT @IDCOMENTARIO = ISNULL(MAX(IDCOMENTARIO), 0) + 1 FROM COMENTARIOS

            INSERT INTO COMENTARIOS VALUES(@IDCOMENTARIO, @IDPOST, @EMAIL, @COMENTARIO, @FECHA, @IDUSER)
GO
/****** Object:  StoredProcedure [dbo].[SP_NEW_COMENTARIO_POST]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[SP_NEW_COMENTARIO_POST](@IDPOST INT, @CORREO NVARCHAR(50), @COMENTARIO NVARCHAR(600), @FECHA DATE, @IDUSER INT)
        AS
            DECLARE @IDCOMENTARIO INT

            SELECT @IDCOMENTARIO = ISNULL(MAX(IDCOMENTARIO), 0) + 1 FROM COMENTARIOS

            INSERT INTO COMENTARIOS VALUES(@IDCOMENTARIO, @IDPOST, @CORREO, @COMENTARIO, @FECHA, @IDUSER)
GO
/****** Object:  StoredProcedure [dbo].[SP_NEW_POST]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    CREATE PROCEDURE [dbo].[SP_NEW_POST](@TITULO NVARCHAR(50), @CONTENIDO NVARCHAR(50), @IMAGEN NVARCHAR(600), @IDUSER INT, @FEHCA NVARCHAR(75))
    AS
        DECLARE @IDMAXPOST INT

        SELECT @IDMAXPOST = ISNULL(MAX(IDPOST), 0) + 1 FROM RESCUTEBLOG
     INSERT INTO RESCUTEBLOG VALUES(@IDMAXPOST, @TITULO, @CONTENIDO, @IMAGEN, @IDUSER, @FEHCA)
GO
/****** Object:  StoredProcedure [dbo].[SP_NEWVOLUNTARIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

    CREATE PROCEDURE [dbo].[SP_NEWVOLUNTARIO](@NOMBRE NVARCHAR(50), @MENSAJE NVARCHAR(50), @IMAGEN NVARCHAR(600), @CORREO NVARCHAR(50), @MUNICIPIO NVARCHAR(50), @FECHANAC DATE, @IDREFUGIO INT)
        AS
            DECLARE @IDVOLUNTARIO INT
            SELECT @IDVOLUNTARIO = ISNULL(MAX(IDVOLUNTARIO), 1) + 1 FROM VOLUNTARIOS;

    INSERT INTO VOLUNTARIOS VALUES(@IDVOLUNTARIO, @NOMBRE, @MENSAJE, @IMAGEN, @CORREO, @MUNICIPIO, @FECHANAC, @IDREFUGIO)
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVA_ADOPCION]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_NUEVA_ADOPCION](@IDMASCOTA INT, @IDUSER INT)
AS
	INSERT INTO ADOPCIONES VALUES(@IDMASCOTA, @IDUSER, GETDATE())
GO
/****** Object:  StoredProcedure [dbo].[SP_NUEVO_REFUGIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
    CREATE PROCEDURE [dbo].[SP_NUEVO_REFUGIO](@NOMBRE NVARCHAR(50), @LOCALIDAD NVARCHAR(50), @UBICACION NVARCHAR(50), @IMAGEN NVARCHAR(50), @VALORACION INT, @DESCRIPCION NVARCHAR(600))
    AS
        DECLARE @IDREFUGIO INT

        SELECT @IDREFUGIO = ISNULL(MAX(IDREFUGIO), 0) + 1 FROM REFUGIOS

        INSERT INTO REFUGIOS VALUES(@IDREFUGIO, @NOMBRE, @LOCALIDAD, @UBICACION, @IMAGEN, @VALORACION, @DESCRIPCION)
GO
/****** Object:  StoredProcedure [dbo].[SP_OBTENER_MASCOTAS_REFUGIOS]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
     CREATE PROCEDURE [dbo].[SP_OBTENER_MASCOTAS_REFUGIOS](@IDREFUGIO INT)
    AS
        SELECT * FROM MASCOTAS
        WHERE IDREFUGIO = @IDREFUGIO
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_COMENTARIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_COMENTARIO](@IDCOMENTARIO INT, @COMENTARIO NVARCHAR(600))
        AS
            UPDATE COMENTARIOS SET COMENTARIOTEXT = @COMENTARIO WHERE IDCOMENTARIO = @IDCOMENTARIO
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_PERFIL_USUARIO]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_PERFIL_USUARIO](@USERNAME NVARCHAR(60), @TELEFONO NVARCHAR(50), @EMAIL NVARCHAR(50), @IMAGEN NVARCHAR(600), @IDUSER INT)
AS
	UPDATE USERS_VOLUNTARIOS SET USERNAME = @USERNAME, PHONE = @TELEFONO, EMAIL = @EMAIL, IMAGEN = @IMAGEN WHERE IDUSER = @IDUSER  
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_POST]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_POST] (@IDPOST INT, @TITULO NVARCHAR(50), @CONTENIDO NVARCHAR(50), @IMAGEN NVARCHAR(600), @IDUSER INT, @FEHCA NVARCHAR(75))
AS
	UPDATE RESCUTEBLOG SET @TITULO = @TITULO, CONTENIDO = @CONTENIDO, IMAGEN = @IMAGEN, IDUSER = @IDUSER, FECHA = @FEHCA 
	WHERE IDPOST = @IDPOST
GO
/****** Object:  StoredProcedure [dbo].[SP_UPDATE_STATE_ADOPCION]    Script Date: 27/03/2023 11:01:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UPDATE_STATE_ADOPCION](@IDMASCOTA INT, @ESTADO BIT)
AS
	UPDATE MASCOTAS SET ADOPTADO = @ESTADO WHERE IDMASCOTA = @IDMASCOTA
GO
