@model NugetRescuteDog.Models.BlogModel

@{
    ViewData["Title"] = "EditPublicaciones";
}

<h1>EditPublicaciones</h1>

<h4>BlogModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditPublicaciones" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" value="@Model.IdPost" name="idpost" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <label>Introduzca Contenido</label>
            <textarea name="Contenido" class="form-control">@Model.Contenido</textarea>
            <input type="file" name="Imagen" class="form-control" />
           <input type="hidden" name="iduser" value="@Model.IdUser" />
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-info">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
